/* font-family: 'Roboto Mono', monospace;   -----  font-family: 'Inter', sans-serif; */

:root {
    --cor-verde-claro: #C1FFE8;
    --cor-verde: #0CD68A;
    --cor-cinza: #868686;
    --cor-preto-titulo: #2D2D2D;
    --cor-preto-card: #030314;
   
    
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto Mono', monospace;
    
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/*Menu*/

.menu-bg {
    background: #FFFFFF;
    height: 110px;
}

.menu {
    max-width: 1502px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-logo {
    padding: 0px 0px 0px 30px;
}

.menu a {
    color: #000000;
    text-transform: uppercase;
  
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
}

.menu-nav a {
    font-size: 0.815em;
    display: block;
    padding: 30px;
    letter-spacing: 0px;
}

/*Capa*/


.capa {
    width: 100%;
    background: rgb(193,255,232);
    background: linear-gradient(130deg, rgba(193,255,232,1) 50%, rgba(255,255,255,1) 100%);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}


.sobre {
    flex: 2 1 300px;
    padding-left: 200px;
  
}


.sobre h1 {
    display: block;
    font-size: 3em;
    letter-spacing: -2px;
    padding-bottom: 1em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    
   
}

.sobre span {
    background: var(--cor-verde);
    padding: 6px;
    color: white;
}

.sobre p {
    font-size: 1.25em;
    color: #70798B;
    padding-bottom: 1em;
    
    
}


.sobre a {
    background: #030314;
    max-width: 400px;
    display: block;
    margin: 15px 0;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.60em;
    padding: 15px 20px;
    text-align: center;
   
    
}

.btn-green {
    color:  var(--cor-verde);
}


.capa-sub p {
    font-size: 1.25em;
    color: #575757;
    padding-bottom: 1em;
    
}


.capa-img {
    flex: 1 1 889px;
    padding-top: 60px;
}

/*

@media (max-width: 1350px) {

    .capa-img {
        flex: 1 1 800px;
        padding-top: 60px;
    }
}

@media (max-width: 1276px) {

    .capa-img {
        flex: 1 1 500px;
        padding-top: 60px;
    }
}

@media (max-width: 1276px) {

    .capa-img {
        display: none;
    }
}

*/



