/* font-family: 'Roboto Mono', monospace;   -----  font-family: 'Inter', sans-serif; */

:root {
    --cor-verde-claro: #C1FFE8;
    --cor-verde: #0CD68A;
    --cor-cinza: #868686;
    --cor-preto-titulo: #2D2D2D;
    --cor-preto-card: #030314;
   
    
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto Mono', monospace;
    
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/*Menu*/

.menu-bg {
    background: #FFFFFF;
    height: 110px;
}

.menu {
    max-width: 1502px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-logo {
    padding: 0px 0px 0px 30px;
}

.menu a {
    color: #000000;
    text-transform: uppercase;
  
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
}

.menu-nav a {
    font-size: 0.815em;
    display: block;
    padding: 30px;
    letter-spacing: 0px;
}

/*Capa*/


.capa {
    width: 100%;
    background: rgb(193,255,232);
    background: linear-gradient(130deg, rgba(193,255,232,1) 50%, rgba(255,255,255,1) 100%);
}


.capa-info {
    max-width: 1502px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.sobre {
    flex: 1 1 300px;
    padding-left: 30px;
    flex-wrap: nowrap;
}


.sobre h1 {
    font-size: 3.5em;
    letter-spacing: -2px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    padding: 1em 0;
    
   
}

.sobre span {
    background: var(--cor-verde);
    padding: 6px;
    color: white;
}

.sobre p {
    font-size: .92em;
    color: #70798B;
    padding-bottom: 1em;
    padding-top: 1em;
    
    
}


.sobre a {
    background: #030314;
    max-width: 400px;
    display: block;
    margin: 15px 0;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.60em;
    padding: 15px 20px;
    text-align: center;
   
    
}

.btn-green {
    color:  var(--cor-verde);
}

.capa-sub h3 {
    font-size: 1.45em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    padding-bottom: 0em;
    padding-top: 1em;
    
}


.capa-sub p {
    font-size: 0.92em;
    color: #575757;
    padding-bottom: 2em;
    
}


.capa-img {
    flex: 0 1 889px;
    padding-top: 60px;
}


@media (max-width: 1200px) {
    .capa-img {
        display: none;
    }
}

@media (min-width: 1300px) and (max-width: 1441px) {
    * {
        font-size: 15px;
    }
}





