
:root {
    --cor-verde-claro: #C1FFE8;
    --cor-verde: #0CD68A;
    --cor-cinza: #868686;
    --cor-preto-titulo: #2D2D2D;
    --cor-preto-card: #030314;
   
    
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arial',sans-serif;
    
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    max-width: 100%;
} 


/*Menu*/

.menu-bg {
    background: #FFFFFF;
    height: 110px;
}

.menu-logo a {
    font-weight: 400;
    font-size: 2.125em;
    line-height: 49px;
    letter-spacing: -0.015em;
    color: #000000;
    font-family: "Internacional-Black", sans-serif;   
}

.menu-logo a span {
    color: var(--cor-verde);
    
}

.menu {
    max-width: 1490px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-logo {
    padding: 0px 0px 15px 22px;
}



.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
    margin-bottom: 0px;
}

.menu-nav ul li {
    padding: 30px;
    position: relative;
}

/*--Sub-Menu-- */
.menu-nav li .menu-1{
    position: absolute;
    visibility: hidden;
}

.menu-nav ul li:hover > .menu-1 {
    display: flex;
    visibility: visible;
    transition: all 0.5s ease 0.1s;
    box-shadow: rgb(17 17 17 / 10%) 0px 1px 1px;
    top: 100%;
    transform: translateY(-2%);
    border-radius: 10px;  
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background: white;
    width: 300px;
    height: 400px;
}


.menu-nav li .menu-1 li {
    
    padding: 10px 10px 0px 10px;
    
}

.menu-1 li p {
    color: var(--cor-verde);
    font-size: 0.95em;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

.menu-1  li a {
    margin-bottom: 2px;
    color: var(--cor-cinza);
    text-transform: none;
    font-size: 1em;
    line-height: 19px;
    letter-spacing: 0.13em;
    font-weight: bold;  
}

.new-servico::after {
         content: " novo";
         background-color: var(--cor-verde-claro);
         font-size: 0.80em;
         margin-left: 10px;
         border-radius: 10px;
         padding: 5px;
         color: #262626;
}

/* --------*/



.menu-nav a {
    display: block;
    color: #000000;
    text-transform: uppercase;
    font-size: 0.813em;
    line-height: 19px;
    letter-spacing: 0.13em;
    font-weight: bold;
    padding-bottom: 10px;
} 

.menu-nav a {
    position: relative;
}



.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--cor-verde);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    
  }

.capa {
    width: 100%;
    background: linear-gradient(107.31deg, #C1FFE8 -11.65%, rgba(193, 255, 232, 0) 112.04%);
}


.capa-info {
    max-width: 1506px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: flex-end; 
}

.sobre { 
    flex: 1 1 0;
    padding: 0px 0px 100px 30px;  
}

.capa-info img {
    flex: 0 1 0;
}



@media (min-width:980px) and (max-width:1385px) {
    .sobre span { 
        font-size: 0.9em; 
    }
    .menu-logo a span {
        font-size: 0.9em;      
    }
    * { 
        font-size: 16px;
       }

       .capa-info {
        height: 800px;
        
    }

    .sobre { 
        padding: 0px 0px 0px 30px;  
    }

}

@media (max-width:1139px) {
     .capa-info img { 
        width: 50%;
     }
}

@media (min-width:591px) and (max-width:980px) {
    .capa-info img { 
       display: none;
    }

    .capa-info {
        align-items: center;
        text-align: center;
    }

    .sobre-conteudo button {
        margin: 0 auto;
    }


}

@media (max-width:980px) {
    .capa-info img { 
       display: none;
    }


}

@media (max-width: 457px) {

       *{
        font-size: 12px;
       }

       .sobre span { 
            font-size: 0.9em; 
        }
        .menu-logo a span {
            font-size: 0.9em;      
        }

        .sobre .sobre-conteudo button {
            max-width: 300px;
    }

    }

    @media (max-width: 344px) {
           
        .sobre .sobre-conteudo button {
            max-width: 230px;
    }

    }
/*
@media (max-width: 1355px) {
    .capa-info img {
        max-width: 700px;
       
    }

}


@media (max-width:1076px) {
    .capa-info img {
        display: none;
    }

    
} 
*/




.sobre .sobre-conteudo h1 {
    font-size: 3.9em; 
    font-family: "Internacional-Black", sans-serif;  
    padding: 2em 0 0em  0;  
}

.sobre span {
    background: var(--cor-verde);
    padding: 6px;
    color: white;
    
}

.sobre p {
    padding-bottom: 1em;
    padding-top: 1em;
    max-width: 90%;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 31px;
    letter-spacing: -0.015em;
    color: #70798B; 
}


.sobre-conteudo button span {
    color: white;
    padding: 0px;
    background: none;
}

.sobre-conteudo button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    background: #000000;
    border: 1px solid transparent;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.60em;
    width: 400px;
    height: 72px;
   }

  
   .sobre-conteudo button > svg {
    background: var(--cor-verde);
    border-radius: 50%;
    width: 34px;
    margin-left: 15px;
    transition: transform .3s ease-in-out;
   }
   
   .sobre-conteudo button:hover svg {
    transform: translateX(5px);
   }
   
   .sobre-conteudo button:active {
    transform: scale(0.95);
   }
   

.btn-green {
    color:  white;
    margin-left: 9px;
    font-size: 12px;
    background: var(--cor-verde);
    padding: 8px 10px;
    border-radius: 50%;
    margin-top: 0px;
    
}

.capa-sub h3 {
    font-family: "Internacional-Black", sans-serif;  
    font-weight: bold;
    padding-bottom: 0em;
    padding-top: 1em;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 35px;
    letter-spacing: -0.015em;
    color: #030314;
    
}


.capa-sub p {
    color: #575757;
    padding-bottom: 126px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.1em;
    color: #575757;

    
}




/* Vantagens */
.vantagens {
    max-width: 100%;
    margin: 106px 0;
}

.vantagens-titulo {
    
    max-width: 1502px;
    margin: 0 auto;
    text-align: center;
}

.vantagens-titulo h3 {
    font-size: 1.25em;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--cor-verde);
}

.vantagens-titulo h2 {
    font-size: 2em;
    font-weight: 700;
}

.lista-cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1502px;
    margin: 0 auto;
    padding: 106px 30px;
    justify-content: center;
    
    
}

.cards {
    background: white;
    flex: 1 1 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    max-height: 264px;
    cursor: pointer;
    max-width: 264px;
    
}

.cards:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
}

.cards p {
    font-size: 1.25em;
    padding: 30px 0px 30px 10px;
}

.cards img {
    padding: 10px 0px 10px 10px;
}

.cards a {
    padding: 30px 0px 0px 10px;
    color: var(--cor-verde);
}

/* noticia */
.bg-noticia {
    width: 100%;
    height: 560px;
    background: linear-gradient(99.7deg, #ACFFDF -22.05%, rgba(172, 255, 223, 0) 119.51%);
    
}

.container-noticia {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}



.noticia-img {
position: absolute;
width: 533px;
height: 595px;
left: 90px;
background: url(../img/homem\ verde.png);
top: -35px; 
flex: 0 0 30%;
}




.noticia-img img {
    position: absolute;
    bottom: -435px;
    left: 90px;
   
    
    
  }

  @media (max-width: 1600px) {
    .noticia-img {
        display: none;
    }
}


.noticia-conteudo {
    flex: 0 2 60%;
    text-align: center;
    margin-left: 650px;
    margin-top: 110px;
}

@media (max-width: 1600px) {
    .noticia-conteudo {
        display: none;
    }
}



.noticia-conteudo h1 {
    font-size: 4em;
    color: #2D2D2D;
}


.noticia-conteudo p {
    text-align: left;
    padding-top: 100px;
    font-size: 1.25em;
    color: #70798B;
    padding-left: 100px;
    max-width: 85%;
    line-height: 34px;
  
}

/*---Valores----- */

.valores-dados {
    padding: 181px 0;
    width: 100%;
    
}


.lista-valores {
    max-width:  1506px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1502px;
    margin: 0 auto;
    justify-content: space-between;
    
   
    
}   

.valores {
    height: 197px;
    width: 416px;    
}

.valores h3 {
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #0CD68A;
}

.valores h2 {
    padding-bottom:11px;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    color: #000000;
    letter-spacing: -0.03em;

}

.valores p {
    color: #868686;
    font-size: 1em;
   
}

/*footer */
.cabecalho {
    background: #262626;
    padding: 50px 0;
}

.footer-links {
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    max-width: 1574px;
    justify-content: flex-start;
    border-bottom: 1px solid #FFFFFF4D;
    padding-bottom: 20px;

}

.footer-links ul {
     flex: 1 2 auto;
     padding: 0 10px;
}

.footer-links li {
    line-height: 26px;
    margin-bottom: 20px;
    flex:1 2 0;
}

.footer-links a {
    color: white;
}

/*----------------------------------------------------------------*/
.redes-social {
    display: flex;
    max-width:1574px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.social {
    display: flex;
    
}

.social i {
    font-size: 25px;
    margin: 20px 10px 0px 0px;
    color: white;
    background: #373737;
    padding: 15px;
   
}

/********************************Input */
.input-footer {
    display: block !important; 
  }
  
  .input-group {
    display: flex;
    align-items: center;
  }

  .input {
    min-height: 32px;
    max-width: 500px;
    padding: 0 4.5rem;
    color: #fff;
    background: #E9ECEF;
    font-size: 15px;
    margin: 25px -5px 0px 0px;
    border: none;
  }

  .button--submit {
    min-height: 32px;
    padding:  7.8px 12px;
    border: none;
    background-color: #FFC63A;;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }

  .input-icon {
    color: #373737;
    font-size: 10px;
  }
  

  .button--submit:hover {
    background-color: #ffc14d;
  } 
  
  .input:focus, .input:focus-visible {
    border-color: #FF9325;
    outline: none;
  }

.input-checkbox {
    margin-top: 10px;
    
}
  
.redes-social form {

    text-align: left;
    color: white;
    font-size: 0.87em;
    font-family: "italic", sans-serif; 
}

.padding-l {
    padding-left: 18px;
}

.fim-cabecalho {
    margin: 0 auto;
    max-width: 1574px;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 0px 0px;
}

.fim-cabecalho p {
    color: #FFFFFF;
}

.fim-cabecalho span{
    display: flex;
    color: #FFFFFF;
}

.fim-cabecalho span img{
    padding-right: 10px;
}

